.generos {
  width: 95%;
  margin: 0 auto;
  margin-top: 3%;
  position: relative;
  border: 4px solid white;
  border-radius: 8px;

  & #label {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    top: -4%;
    left: 20px;
    width: 200px;
    background-color: black;
    border: 2px solid #3f51b5;
    padding: 5px;
  }
}
/* Estilo del carrusel */
owl-carousel-o {
  display: flex;
  margin: 0 auto;
}

owl-carousel-o .owl-item {
  float: left;
  margin-right: 0;
  cursor: pointer;
  transform-origin: top left;
}

owl-carousel-o img {
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
  height: 15em;
  object-fit: cover;
}

owl-carousel-o .owl-item {
  border-radius: 1rem;
}
