<div class="carousel" [style.width.px]="cellWidth">
  <div
    #element
    *ngFor="let pelicula of peliculas; let index = index"
    (click)="indexToFront(index)"
  >
    <div class="movie_card">
      <div class="info_section">
        <div class="movie_header">
          <img
            class="locandina"
            (load)="index == 0 && getDimensions(element)"
            [src]="pelicula.poster_path"
            alt="{{ pelicula.title }} Poster"
            title="{{ pelicula.title }}"
          />
          <h2>{{ pelicula.title }}</h2>
          <h4>
            {{ pelicula.release_date | date : "yyyy" }}
            {{ getListadoGeneros(pelicula.genre_ids) }}
          </h4>
          <div class="movie_social">
            <ul>
              <li *ngIf="pelicula.favorita" >
                <i class="material-icons" (click)="deleteFavorito(pelicula)">favorite</i>
              </li>
              <li *ngIf="!pelicula.favorita" >
                <i class="material-icons" (click)="setFavorito(pelicula)">favorite_border</i>
              </li>
            </ul>
          </div>
        </div>
        <div class="movie_social">
          <span class="info" (click)="detallePelicula(pelicula)">Más Información</span>
        </div>
      </div>
      <div
        class="blur_back"
        [style.background-image]="'url(' + pelicula.backdrop_path + ')'"
      ></div>
    </div>
  </div>
</div>
